In [1]:
import pandas as pd

In [2]:
pd.read_csv("marker_acc.csv")

    dataset       marker_style          model  accuracy  rank
0      DA2k            default  Llama 4 Scout      73.7     1
1      DA2k         color_blue  Llama 4 Scout      72.7     2
2      DA2k      marker_square  Llama 4 Scout      72.7     1
3      DA2k           radius_3  Llama 4 Scout      74.4     1
4      DA2k  text_offset_below  Llama 4 Scout      70.9     1
..      ...                ...            ...       ...   ...
103   SPair         color_blue     Gemma 3-4B      29.2     9
104   SPair      marker_square     Gemma 3-4B      29.2     9
105   SPair           radius_3     Gemma 3-4B      31.2     9
106   SPair  text_offset_below     Gemma 3-4B      31.3     9
107   SPair     font_scale_0.2     Gemma 3-4B      29.5     7

[108 rows x 5 columns]